*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.boxes{
    height: 500px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 20px;
}
img{
    width: 100% !important;
    height: 100% !important;
}